{% extends 'base.html' %}

{% block title %}
    login page
{% endblock %}

{% block body %}
    {% if form.errors %}
        <p>ОШИБКА (проверьте данные, которые вы вводите)</p>
        <a href="{% url 'reception:login' %}">назад</a>
    {% else %}
        <form action="." method="post">
            <table>{{ form.as_p }}</table>
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <input type="submit" class="btn btn-success btn-sm" value="Войти"><br>
            <a href="{% url 'reception:password_reset' %}">Забыли пароль?</a>
        </form>
{#        <a href="{% provider_login_url 'google' %}">Войти с помощью Google</a>#}
    {% endif %}
{% endblock %}