{% extends 'base.html' %}

{% block title %}
    login page
{% endblock %}

{% block body %}
    {% if form.errors %}
        ОШИБКА (проверьте данные, которые вы вводите)
    {% else %}
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <input type="submit" class="btn btn-success btn-sm" value="login">
        </form>
        <a href="{% url 'reception:password_reset' %}">Забыли пароль?</a>
    {% endif %}
{% endblock %}