{% extends "base.html" %}

{% block title %}
    Reset your password
{% endblock %}

{% block body %}
    {% if form.errors %}
        <p>{{ form.errors }}</p>
    {% else %}
        <h3>Сбросить пароль</h3>
        {% if validlink %}
            <p>Пожалуйста, введите ваш новый пароль дважды:</p>
            <form action="." method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <p><input type="submit" class="btn btn-primary btn-sm" value="Сбросить пароль" /></p>
            </form>
        {% else %}
        <p>Ссылка для сброса пароля недействительна, возможно, потому, что она уже использовалась. Запросите новый сброс пароля.</p>
        {% endif %}
    {% endif %}
{% endblock %}