{% extends 'base.html' %}

{% block body %}
    <form method="post">
{#        {% for fields in reception_form.fields %}#}
{#            <div class="popup">#}
{#                {{ fields.errors }}#}
{#            </div>#}
            {{ tutor.tutor_name }}
            {{ reception_form.reception_date_time }}
            {% csrf_token %}
            <input type="submit" value="записаться">
{#         {% endfor %}#}
    </form>

    <script>
    $(function () {

        $.datetimepicker.setLocale('ru');
        $("#id_reception_date_time").datetimepicker({
            format: 'Y-m-d H:i',
            inline: true,
            allowTimes: [
                '10:00', '11:00', '12:00', '13:00', '14:00', '15:00',
                '16:00', '17:00', '18:00', '19:00', '20:00',
            ],
            minDate: 0,
            disabledWeekDays: [0, 6],
        });
    });
  </script>
{% endblock %}