{% extends 'base.html' %}

{% block body %}
    <form id="picker" method="post" >
        <div >
            <h2>{{ tutor.tutor_name }}</h2><br>
            {{ reception_form.reception_date_time }}<br><br>
            {% csrf_token %}
            <input class="btn btn-primary" type="submit" value="Записаться">
        </div>
    </form>

    <script>
    $(function () {

        $.datetimepicker.setLocale('ru');
        $("#id_reception_date_time").datetimepicker({
            format: 'Y-m-d H:i',
            inline: true,
            allowTimes: [
                '10:00', '11:00', '12:00', '13:00', '14:00', '15:00',
                '16:00', '17:00', '18:00', '19:00', '20:00',
            ],
            minDate: 0,
            disabledWeekDays: [0, 6],
        });
    });
  </script>
{% endblock %}