{% extends 'base.html' %}

{% block title %}
    Profile
{% endblock %}

{% block body %}
    <div id="profile">
        <p><b>Имя пользователя: </b>{{ user.username }}</p>
        <p><b>Ваш e-mail: </b>{{ user.email }}</p>
        <p><b>Ваш телефон: </b>{{ user.profile.phone }}</p>
        <a class="btn btn-outline-info btn-sm" href="{% url "reception:edit_user_profile" %}">Изменить профиль</a>
        <a class="btn btn-outline-info btn-sm" href="{% url "reception:password_change" %}">Сменить пароль</a>
    </div>
{% endblock %}